*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: rgb(248, 248, 248);
}
/* a{
    text-decoration: none;
} */
                /* Nav barre */



.header-cont_nav{
    position: fixed;
    display: flex;
    align-items: center;
    gap: 500px;
    padding-left: 300px;
    z-index: 1000;
    margin-top: 30px;
}

.header-cont_nav.scrolled {
    width: 100%;
}

.image_logo{
    width: 100px;
    height: 64px;
}

.header-cont_nav-cont_button{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav_cont_button_icon{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-button{
    font-size: 20px;
    font-weight: 500;
    color: rgb(31, 28, 28);
}

.menu_burger{
    width: 50px;
    height: 35px;
    position: absolute;
    right: 0;
    margin-right: 30px;
    display: none;
}

@media (max-width : 1500px) {
    .header-cont_nav {
        width: 100%;
    }

    .header-cont_nav{
        padding-left: 10px;
        padding-right: 10px;
        
    }

    .header-cont_nav-logo{
        margin-left: 50px;
    }

    .header-cont_nav-cont_button{
       gap: 30px;
       margin-left: -100px;

    }
}

@media (max-width : 1170px) {
    .header-cont_nav {
        gap: 300px;
    }

    .header-cont_nav{
        padding-left: 10px;
        padding-right: 10px;
        
    }

    .header-cont_nav-logo{
        margin-left: 50px;
    }

    .header-cont_nav-cont_button{
       gap: 30px;
       margin-left: -100px;

    }
}





@media (max-width : 920px){

    header{
        padding: 0;
    }

    .header-cont_nav{
        margin: 0;
        padding: 0;
        
    }

    .header-cont_nav-cont_button{
        position: absolute;
        flex-direction: column;
        background-color: #f9b03352;
        width: 100%;
        height: 70vh;
        z-index: 4;
        top: 0;
        left: 0;
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        backdrop-filter: blur(15px);
        margin-left: -120%;
        transition: all 0.5S ease;
        
    }


    .header-cont_nav-cont_button.mobile-menu{
        margin-left: 0;
    }

    .menu_burger{
        display: block;
        z-index: 5;
        width: 40px;

    }

    .image_logo{
        width: 60px;
        height: 39px;
        margin-top: 20px;
        
    }
}


/* Banniere */


.banner-acceuil{
    position: fixed;
    height: 1000px;
    background-image: url(/images/fond\ banniere.png);
    background-position: top;
    background-size: cover;
    /* padding-top: 300px; */
    position: fixed;
    top: 0px;
    width: 100%;

}

.hello{
    color: white;
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 250px;
    margin-left: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
    
}

.je_suis{
    font-size: 60px;
}

.createur{
    font-size: 58px;
    color: white;
    font-weight: 500;
    margin-bottom: 50px;
    margin-left: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
}

.mission{
    font-size: 25px;
    font-weight: 500;
    margin-left: 50px;
    color: #ffffff;
}

.grand_bouton{
    width: 225px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 25px;
    margin-top: 50px;
    font-size: 20px;
    color: #0274a8;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.295);
    font-weight: 600;
}


.cont_reseaux{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
    margin-top: 30px;
}


.image_reseau{
    height: 40px;
    width: 40px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.171);
    border-radius: 20px;
        
}

.cont_bouton{
    margin-left: 50px;
    
}







@media(max-width: 920px){
    .hello{
        font-size: 50px;
        
    }
    
    
    .createur{
        font-size: 48px;
    }
    
    .mission{
        font-size: 20px;

    }
}


@media(max-width: 800px){
    .hello{
        font-size: 50px;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 150px;
        
    }
    
    
    .createur{
        font-size: 48px;

        text-align: center;
    }
    
    .mission{
        font-size: 20px;
        text-align: center;


    }




    
    .cont_reseaux{
        margin-left: auto;
        margin-right: auto;
        width: max-content;
    }

    .cont_bouton{
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
    
}


@media(max-width: 700px){
    
    .mission{
        font-size: 20px;
        text-align: center;


    }

    .hello{

        margin-top: 100px;
        
    }


}


@media(max-width: 500px){
    .hello{
        font-size: 45px;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 100px;
        
    }
    
    .je_suis{
        font-size: 40px;
    }
    
    .createur{
        font-size: 30px;

        text-align: center;
    }
    
    .mission{
        font-size: 20px;
        text-align: center;
        line-height: 35px;


    }
}




@media(max-height: 820px){
        
    .hello{
        font-size: 70px;
        margin-top: 180px;
    }

    .je_suis{
        font-size: 50px;
    }

    .createur{
        font-size: 50px;
        margin-bottom: 20px;
    }

    .mission{
        font-size: 23px;
    }

    .grand_bouton{
        width: 220px;
        height: 50px;
        margin-top: 30px;

    }


    .image_reseau{
        height: 40px;
        width: 40px;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.171);
        border-radius: 20px;
            
    }
    
    
}

/* ********************************************* */
/* {} */






.section_contenue{
    height: 1500px;
    background-color: white;
    z-index: 20;
    position: absolute;
    margin-top: 800px;
    border-radius: 100px;
    width: 100%;
    padding-top: 60px;
}

@media(max-height: 820px){
    .section_contenue{
        margin-top: 630px;
    }
}



/* section portfolio */
/* {} */

.section_portfolio{
    position: relative;
    width: 100%;
    height: max-content;
}

.titre_portfolio{
    font-family: "Monoton", sans-serif;
    color: #0274a8;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    font-size: 100px;
}

.cont_element_folio{
    width: 100%;
    padding-top: 30px;
    background-color: rgb(255, 255, 255);
    margin-top: -55px;
    z-index: 11;
    position: relative;

}

/* ********** portfolio 1-2 */

.folio_1_2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 70px;
}

.folio{
    height: 470px;
    padding: 10px;
    width: 700px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.171);
}

.image_folio{
    width: 100%;
    height: 75%;
    background-image: url(/images/image\ de\ presentation\ du\ phare\ cotier.jpg);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    margin-bottom: 40PX;
}

#image_pholio2{
    background-image: url(/images/presentation\ de\ la\ marque.jpg);
}

.detail_bouton_folio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nom_folio{
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.336);
    margin-bottom: 10px;
}


.libelet_folio{
    font-size: 17px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.336);
}

.en_savoir_plus{
    height: 40PX;
    width: 130px;
    border-radius: 20px;
    border: none;
    color: rgba(0, 0, 0, 0.336);
    background-color: white;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.171);

}

.en_savoir_plus:hover{
    color: rgb(255, 255, 255);
    background-color: #0274a8;
}



@media(max-width: 1600px){
    .folio_1_2{
        gap: 50px;
    }

    .folio_1_2{
        margin-bottom: 50px;
    }

    .folio{
        height: 470px;
        width: 600px;
    }
}


@media(max-width: 1400px){
    .folio_1_2{
        gap: 25px;
    }

    .folio_1_2{
        margin-bottom: 25px;
    }

    .folio{
        height: 400px;
        width: 550px;
    }
}

@media(max-width: 1200px){
    .folio_1_2{
        gap: 25px;
    }

    .image_folio{
        margin-bottom: 20px;
    }

    .folio{
        height: 450px;
        width: 470px;
    }
}

@media(max-width: 1060px){
    .folio_1_2{
        gap: 50px;
        flex-direction: column;
    }


    .folio{
        height: 400px;
        width: 600px;
    }

    .titre_portfolio{
        font-size: 70px;
    }

    .cont_element_folio{
        margin-top: -30px;
    }
}

@media(max-width: 650px){

    .folio{
        height: 400px;
        width: 500px;
    }

    .titre_portfolio{
        font-size: 70px;
    }

}

@media(max-width: 550px){

    .folio{
        height: 400px;
        width: 400px;
    }

    .titre_portfolio{
        font-size: 60px;
    }

}


@media(max-width: 450px){

    .folio{
        height: 400px;
        width: 300px;
    }

    .titre_portfolio{
        font-size: 60px;
    }

}


/* footer */
/* 
.conteneur_footer{
    z-index: 10;
    position: relative;
    margin-top: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: #000000fd;
    padding-top: 150px;
    padding-bottom: 150px;
}

.titre_prestation{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);

}

.services_footer{
    font-size: 17px ;
    color: #ffffff8e;
}

.les_servives_footer{
    margin-bottom: 10px;
}

.logo_footer{
    width: 130px;
    height: 110px;
}

.copyright{
    background-color: #000000fd;

}

.texte_copyrith{
    font-size: 15px ;
    color: #ffffff8e;
    margin-left: 50px;
} */